body {
  background-color: brown;
  color: white;
  text-align: center;
}
textarea {
  font-size: 60px;
  width: 80%;
  height: 200px;
  margin-top: 30px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 5px;
  resize: none;
}
textarea::placeholder {
  color: white;
}
textarea:active, textarea:hover, textarea:focus {
  outline: none;
}
button {
  height: 40px;
  width: 20%;
  background-color: white;
  border-radius: 2px;
  border: 2px solid white;
  margin: 10px;
  color: brown;
  padding: 2px;
  font-size: 20px;
}
button:focus {
  outline: none;
}
button:active {
  background-color: transparent;
  color: white;
}
button-div {
  text-align: center;
}
@-webkit-keyframes shake {
 from {
    -webkit-transform: rotate(10deg);
 }
 to {
   -webkit-transform-origin:center center;
   -webkit-transform: rotate(-10deg);
 }
}
#word-count {
  display: inline;
}
#slider-output {
  display: inline;
  margin-left: 20px;
}
#icon {
  display: none;
  font-size: 50px;
}
.no-input::placeholder {
  text-decoration: underline;
}
#vid {
  display: none;
}
#word-test {
  display: inline;
  margin: 0px;
  padding: 0px;
  font-size: 1px;
}
.font {
  font-size: 25px;
  font-family: 'Encode Sans Condensed', Verdana, sans-serif;
  letter-spacing: 2px;
}
@media screen and (max-height: 400px) and (orientation:landscape) {
  textarea {
    height: 100px;
  }
}
