body {
  background-color: brown;
  color: white;
  text-align: center;
  font-size: 25px;
}
textarea {
  font-size: 60px;
  width: 80%;
  height: 200px;
  margin-top: 30px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 5px;
  resize: none;
}
textarea::placeholder {
  color: white;
}
textarea:active, textarea:hover, textarea:focus {
  outline: none;
}
button {
  height: 40px;
  width: 20%;
  background-color: white;
  border-radius: 2px;
  border: 2px solid white;
  margin: 10px;
  color: brown;
  padding: 2px;
  font-size: 20px;
}
button:focus {
  outline: none;
}
button:active {
  background-color: transparent;
  color: white;
}
button-div {
  text-align: center;
}
#num-player {
  font-size: 50px;
}
@-webkit-keyframes shake {
 from {
    -webkit-transform: rotate(10deg);
 }
 to {
   -webkit-transform-origin:center center;
   -webkit-transform: rotate(-10deg);
 }
}
#word-count {
  display: inline;
}
#slider-output {
  display: inline;
  margin-left: 20px;
}
