html {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4EAB9E), to(#207D86));
  background: -webkit-linear-gradient(left top, #4EAB9E, #207D86);
  background: -moz-linear-gradient(left top, #4EAB9E, #207D86);
  background: -ms-linear-gradient(left top, #4EAB9E, #207D86);
  background: -o-linear-gradient(left top, #4EAB9E, #207D86);
  background: linear-gradient(left bottom, #D2003F, #207D86);
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4EAB9E), to(#207D86));
  background: -webkit-linear-gradient(left top, #4EAB9E, #207D86);
  background: -moz-linear-gradient(left top, #4EAB9E, #207D86);
  background: -ms-linear-gradient(left top, #4EAB9E, #207D86);
  background: -o-linear-gradient(left top, #4EAB9E, #207D86);
  background: linear-gradient(left bottom, #D2003F, #207D86);
  color: white;
  text-align: center;
  overflow-x: hidden;
}
textarea {
  font-size: 60px;
  width: 80%;
  height: 200px;
  margin-top: 30px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 5px;
  resize: none;
}
textarea::placeholder {
  color: white;
}
textarea:active, textarea:hover, textarea:focus {
  outline: none;
}
button {
  height: 40px;
  width: 20%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid white;
  margin: 10px;
  color: white;
  padding: 2px;
  font-size: 20px;
}
button:focus {
  outline: none;
}
button:active, button:focus {
  background-color: transparent;
  color: white;
}
button-div {
  text-align: center;
}
@-webkit-keyframes shake {
 from {
    -webkit-transform: rotate(10deg);
 }
 to {
   -webkit-transform-origin:center center;
   -webkit-transform: rotate(-10deg);
 }
}
#word-count {
  display: inline;
  margin-right: 10px;
}
#slider-output {
  display: inline;
  margin-left: 20px;
}
#icon {
  display: none;
  font-size: 50px;
}
.no-input::placeholder {
  text-decoration: underline;
}
#vid {
  display: none;
}
#word-test {
  display: inline;
  margin: 0px;
  padding: 0px;
  font-size: 1px;
}
.font {
  font-size: 25px;
  font-family: 'Encode Sans Condensed', Verdana, sans-serif;
  letter-spacing: 2px;
}
@media screen and (max-height: 400px) and (orientation:landscape) {
  textarea {
    height: 100px;
  }
}
@media screen and (min-width: 1300px) {
  .unhoverable:hover {
    background-color: transparent;
    color: white;
  }
  .hoverable:hover {
    background-color: white;
    color: #207D86
  }
}
